.saved-header__info {
  padding: 40px 0 56px 104px;
}

.saved-header__subtitle {
  color: rgba(26, 27, 34, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

.saved-header__title {
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 1.15;
  color: #1A1B22;
  max-width: 530px;
}

.saved-header__keywords-block {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.3;
  color: #1A1B22;
}

.saved-header__keywords {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .saved-header__info {
    padding: 24px 0 32px 40px;
  }

  .saved-header__title {
    font-size: 30px;
    max-width: 336px;
  }
}

