.about {
  padding: 80px 104px 80px 216px;
  display: flex;
  column-gap: 58px;
}

.about__photo-wrapper {
  width: 416px;
  height: 416px;
  
}

.about__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about__title {
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 1.1;
  color: #1A1B22;
}

.about__info {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.3;
  color: #1A1B22;
}