.navigation {
  padding: 30px 104px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
}

.navigation__logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  padding-bottom: 6px;
}

.navigation__logo_saved {
  color: #000;
}

.navigation__links {
  display: flex;
  align-items: center;
  column-gap: 42px;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.navigation__link_saved {
  color: #000;
}

.navigation__header-button {
  padding: 12px 60px;
  background: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 1000px;
  border: 1px solid #fff;
  cursor: pointer;
}

.navigation__header-button_saved {
  border-color: #000;
  color: #000;
}

.navigation__header-button_logout {
  display: flex;
  column-gap: 15px;
  padding: 12px 15px 12px 19px;
}

.navigation__logout-button {
  padding: 12px 60px;
  background: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 1000px;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  column-gap: 15px;

}