.search-form {
  margin: 88px auto 0;
  max-width: 608px;
  display: flex;
  position: relative;
  align-items: center;
}

.search-form__input {
  border: none;
  border-radius: 100px;
  padding: 21px 0px 20px 21px;
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  outline: none;
}

::placeholder {
  color: #B6BCBF;
}

.search-form__submit-button {
  background-color: #2F71E5;
  border: none;
  border-radius: 100px;
  color: #fff;
  padding: 20px 56px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  position: absolute;
  left: 73%;
  cursor: pointer;
  transition: background-color 0.5s;
}

.search-form__submit-button:hover {
  background-color: #347EFF;
}

.search-form__submit-button:active {
  background-color: #2A65CC;
}

@media screen and (max-width: 768px) {
  .search-form {
    max-width: 400px;
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .search-form {
    width: 288px;
    flex-direction: column;
    align-items: center;
    margin: 122px auto 0;
    row-gap: 16px;
  }

  .search-form__input {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 17px 16px;
  }

  .search-form__submit-button {
    position: static;
    width: 100%;
    margin: 0 auto;
    padding: 16px auto;
  }
}

@media screen and (max-width: 319px) {
  .search-form {
    max-width: 95%;
  }
}